# Mac system files
.DS_Store
.AppleDouble
data.nosync/.DS_Store

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Generated outputs (BLOCKED)
*.html
*.csv

# Large data files (keep folder structure)
!data.nosync/
!data.nosync/*.zip

# Python
__pycache__/
*.pyc

/.quarto/
**/*.quarto_ipynb
